@import '../../assets/styles/variables.scss';

$sr-width-xl: $ml-width-xl;
$sr-width-md: $ml-width-md;
$sr-width-sm: $ml-width-sm;

.search_results {
  width: $sr-width-xl;
  border-radius: $ml-border-radius;
  background-color: #fff;
  margin-bottom: 32px;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .search_results {
    width: $sr-width-md;
  }
}

@media (max-width: 920px) {
  .search_results {
    width: $sr-width-sm;
  }
}
