@import '../../assets/styles/variables.scss';

.Breadcrumbs {
    width: 70%;
    // padding: 10px 0;
    margin: 16px 0;

    &__link {
        color: $ml-color-gray-2;
        margin-right: 10px;
    }

}