@import '../../assets/styles/variables.scss';

$bc-width-xl: $ml-width-xl;
$bc-width-md: $ml-width-md;
$bc-width-sm: $ml-width-sm;

.breadcrumbs {
  width: $bc-width-xl;
  margin: 16px 0;

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__list_item {
    display: inline-flex;
    align-items: center;
  }

  &__link {
    color: $ml-color-text-secondary;
    cursor: pointer;
    text-decoration: none;
  }

  &__link:hover {
    color: darken($ml-color-text-secondary, 30%);
  }

  &__link:active,
  &__link:focus {
    color: $ml-color-blue;
  }
}

@media (max-width: 1200px) {
  .breadcrumbs {
    width: $bc-width-md;
  }
}

@media (max-width: 920px) {
  .breadcrumbs {
    width: $bc-width-sm;
  }
}
