@import 'assets/styles/variables.scss';

.App {
  // background-color: $ml-color-gray-3;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: hidden;

  &__router {
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
  }   
}

