// Colors
$ml-color-yellow: #FFE600;
$ml-color-gray-1: #333333;
$ml-color-gray-2: #999999;
$ml-color-gray-3: #EEEEEE;


//font-sizes;
$ml-font-size-46: 46px;
$ml-font-size-28: 28px;
$ml-font-size-28: 24px;
$ml-font-size-18: 16px;
$ml-font-size-18: 14px;
$ml-font-size-18: 12px;