// Colors
$ml-color-yellow: #ffe600;
$ml-color-gray-1: #333333;
$ml-color-gray-2: #999999;
$ml-color-gray-3: #eeeeee;
$ml-color-blue: #3486fa;

// Text variables
$ml-color-text-primary: $ml-color-gray-1;
$ml-color-text-secondary: $ml-color-gray-2;

// backgrounds
$ml-container-bg-color: $ml-color-gray-3;

// Widths
$ml-width-xl: 65%;
$ml-width-md: 85%;
$ml-width-sm: 95%;

// Rounded elements
$ml-border-radius: 4px;
