// Colors
$ml-color-yellow: #FFE600;
$ml-color-gray-1: #333333;
$ml-color-gray-2: #999999;
$ml-color-gray-3: #EEEEEE;

// Text variables
$ml-color-text-primary: $ml-color-gray-1;
$ml-color-text-secondary: $ml-color-gray-2;

// backgrounds
$ml-container-bg-color: $ml-color-gray-3;



//font-sizes;
$ml-font-size-46: 46px;
$ml-font-size-28: 28px;
$ml-font-size-24: 24px;
$ml-font-size-18: 16px;
$ml-font-size-14: 14px;
$ml-font-size-12: 12px;